In [1]:
import seaborn as sns

In [6]:
df = sns.load_dataset('titanic')

In [7]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [34]:
df1 = df.loc[:,'survived,pclass,sex,age,embarked,alone,fare'.split(',')].replace({'alone':{True:1,False:0}}).copy()
X = df1.drop(columns=['survived'])
y = df1['survived']

C:\Users\Administrator\AppData\Local\Temp\ipykernel_14300\46218132.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1 = df.loc[:,'survived,pclass,sex,age,embarked,alone,fare'.split(',')].replace({'alone':{True:1,False:0}}).copy()

In [33]:
from feature_engine import encoding, imputation, scaling
from sklearn import pipeline, model_selection, preprocessing

In [39]:
titanic_pipeline=pipeline.Pipeline(
    [
    ('cat_impute',imputation.CategoricalImputer(imputation_method='frequent',variables=['embarked'])),
    ('cat',encoding.OneHotEncoder(variables=['sex','embarked'])),
    ('num_impute',imputation.MeanMedianImputer(imputation_method='median',variables=['age'])),
    ('scale',scaling.MeanNormalizationScaler(variables=['fare']))
    ]
)

In [40]:
X_train,X_test, y_train,y_test = model_selection.train_test_split(X,y,test_size=.2,random_state=42,stratify=y)

In [41]:
X_train = titanic_pipeline.fit_transform(X_train, y_train)

In [42]:
X_train.head()

,pclass,age,alone,fare,sex_male,sex_female,embarked_S,embarked_C,embarked_Q
692,3,28.5,1,0.048164,1,0,1,0,0
481,2,28.5,1,-0.062108,1,0,1,0,0
527,1,28.5,1,0.370776,1,0,1,0,0
855,3,18.0,0,-0.043858,0,1,1,0,0
801,2,31.0,0,-0.010872,0,1,1,0,0

In [45]:
import pandas as pd

(
X_train
.assign(survived=y_train==1)
.corr(method='spearman')
.style
.background_gradient(cmap='RdBu',vmax=1, vmin=-1)

)